*.bac
*.bak
*~
*.core
*.diff
*.gcov
*.al1
*.bck
*.bwt
*.des
*.lcp
*.llv
*.ois
*.prj
*.sds
*.ssp
*.sti1
*.suf
*.tis
*.esq
*.bdx
*.polya
*.polya.info
*.gt_bsi
*.gt_bsr
*.gt_bsf
*.orig
*.swp
/bin
/dist
/obj
/lib
tags
TAGS
.ccache
/testsuite/stest_testsuite
/testsuite/stest_stest_tests
gthtestsuite
gthlicense.aux
gthlicense.log
gthlicense.pdf
cscope.*
/doc/manuals/*.aux
/doc/manuals/*.toc
/doc/manuals/*.log
/doc/manuals/*.blg
/doc/manuals/*.bbl
/doc/manuals/auto
.gdb_history
