*.bac
*.bak
*.core
*.diff
*.al1
*.bck
*.bwt
*.des
*.lcp
*.llv
*.ois
*.prj
*.sds
*.ssp
*.sti1
*.suf
*.tis
*.polya
*.polya.info
*.gt_bsi
*.gt_bsr
*.orig
*.swp
bin
dist
obj
lib
tags
testsuite/stest_testsuite
testsuite/stest_stest_tests
gthtestsuite
*~
gthlicense.aux
gthlicense.log
gthlicense.pdf
