*.al1
*.bac
*.bak
*.bck
*.bdx
*.bsi
*.bsr
*.bwt
*.core
*.csv
*.db
*.des
*.diff
*.err
*.esq
*.fsp
*.gcov
*.kys
*.lcp
*.llv
*.mbd
*.mct
*.md5
*.mem
*.mer
*.nre
*.ois
*.orig
*.pbt
*.polya
*.polya.info
*.prj
*.pyc
*.sds
*.ssp
*.sti1
*.suf
*.swp
*.tags*
*.tis
*.uedb
*~
._*
.ccache
.clang_complete
.cproject
.gdb_history
.project
.ycm_extra_conf.py
/*.log
/bin
/dist
/doc/devguide/*.aux
/doc/devguide/*.log
/doc/devguide/*.out
/doc/devguide/*.toc
/doc/manuals/*.aux
/doc/manuals/*.bbl
/doc/manuals/*.blg
/doc/manuals/*.log
/doc/manuals/*.out
/doc/manuals/*.toc
/doc/manuals/auto
/lib
/obj
/testsuite/stest_stest_tests
/testsuite/stest_testsuite
LocalMakefile*
TAGS
cscope.*
debug
gmon.out
gprof_analysis.txt
gthlicense.aux
gthlicense.log
gthlicense.pdf
gthtestsuite
massif.*
nohup.out
out
src/external/hmmer*
src/external/hmmer-2.3.2/squid/squid.h
src/external/hmmer-2.3.2/squid/squidconf.h
src/external/hmmer-2.3.2/src/config.h
tags
testdata/genomediff
