body {
  font-family: Verdana, Geneva, Arial, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
  color: gray;
}
#footer {
  font-size: 66%;
  text-align: center;
  margin-top: 20px;
  background-color: #EEEEEE;
}
img {
  border-style: solid;
  border-width: 1px;
}
a:link {
  color: blue;
  text-decoration: none;
  border-bottom: thin dotted blue;
}
a:visited {
  color: gray;
  text-decoration: none;
  border-bottom: thin dotted gray;
}
a:hover {
  background: rgb(90%, 90%, 20%);
}
pre {
  line-height: 1.3em;
}

/* Figure environment for library documentation. */
div.figure {
  position: relative;
  width: 650px;
  margin: 0 auto;
  background-color: white;
}
div.figure p {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin:0px;
}
div.figure img {
  border: thin solid black;
  padding: 10px;
  margin: 0px;
}
div.figure img.noborder {
  border: none;
  padding: 0px;
}
div.figure div.subfigure {
  width: 300px;
  float: left;
  margin:12px;
}
