/*
  Copyright (C) 2007 Thomas Jahns <Thomas.Jahns@gmx.net>

  Permission to use, copy, modify, and distribute this software for any
  purpose with or without fee is hereby granted, provided that the above
  copyright notice and this permission notice appear in all copies.

  THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
  WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
  MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
  ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
  WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
  ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
  OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
*/

#include <assert.h>
#include <limits.h>
#include <stdio.h>
#include <stdlib.h>
#include <inttypes.h>

#include <time.h>
#include <sys/time.h>

#include "libgtcore/bitpackstring.h"
#include "libgtcore/error.h"
#include "libgtcore/ensure.h"
#include "libgtcore/log.h"
#include "libgtcore/ma.h"
#include "libgtcore/yarandom.h"

enum {
/*   MAX_RND_NUMS = 10, */
  MAX_RND_NUMS = 100000,
};

static inline int
icmp(@uOpType@ a, @uOpType@ b)
{
  if (a > b)
    return 1;
  else if (a < b)
    return -1;
  else /* if (a == b) */
    return 0;
}

/**
 * \brief bit count reference
 * @param v count the number of bits set in v
 */
static inline int
genBitCount(@uOpType@ v)
{
  unsigned c; /* c accumulates the total bits set in v */
  for (c = 0; v; c++)
    v &= v - 1; /* clear the least significant bit set */
  return c;
}

#define freeResourcesAndReturn(retval) \
  do {                                 \
    ma_free(numBitsList);              \
    ma_free(randSrc);                  \
    ma_free(randCmp);                  \
    ma_free(bitStore);                 \
    ma_free(bitStoreCopy);             \
    return retval;                     \
  } while (0)

int
bitPackString@iTypeTag@_unit_test(Error *err)
{
  BitString bitStore = NULL;
  BitString bitStoreCopy = NULL;
  @uOpType@ *randSrc = NULL; /*< create random ints here for input as bit
                                *  store */
  @uOpType@ *randCmp = NULL; /*< used for random ints read back */
  unsigned *numBitsList = NULL;
  size_t i, numRnd;
  BitOffset offsetStart, offset;
  int had_err = 0;
  offset = offsetStart = random()%(sizeof (@uOpType@) * CHAR_BIT);
  numRnd = random() % (MAX_RND_NUMS + 1);
  log_log("offset=%lu, numRnd=%lu\n",
          (long unsigned)offsetStart, (long unsigned)numRnd);
  {
    BitOffset numBits = sizeof (@uOpType@) * CHAR_BIT * numRnd + offsetStart;
    randSrc = ma_malloc(sizeof (@uOpType@)*numRnd);
    bitStore = ma_malloc(bitElemsAllocSize(numBits) * sizeof (BitElem));
    bitStoreCopy = ma_calloc(bitElemsAllocSize(numBits), sizeof (BitElem));
    randCmp = ma_malloc(sizeof (@uOpType@)*numRnd);
  }
  /* first test unsigned types */
  log_log("bsStore@uTypeTag@/bsGet@uTypeTag@: ");
  for (i = 0; i < numRnd; ++i)
  {
#if @bitSize@ > 32 && LONG_BIT < @bitSize@
    @uOpType@ v = randSrc[i] = (@uOpType@)random() << 32 | random();
#else /* @bitSize@ > 32 && LONG_BIT < @bitSize@ */
    @uOpType@ v = randSrc[i] = random();
#endif /* @bitSize@ > 32 && LONG_BIT < @bitSize@ */
    int bits = required@uTypeTag@Bits(v);
    bsStore@uTypeTag@(bitStore, offset, bits, v);
    offset += bits;
  }
  offset = offsetStart;
  for (i = 0; i < numRnd; ++i)
  {
    @uOpType@ v = randSrc[i];
    int bits = required@uTypeTag@Bits(v);
    @uOpType@ r = bsGet@uTypeTag@(bitStore, offset, bits);
    ensure(had_err, r == v);
    if (had_err)
    {
      log_log("Expected %"@uOpPRI@", got %"@uOpPRI@", i = %lu\n",
              v, r, (unsigned long)i);
      freeResourcesAndReturn(had_err);
    }
    offset += bits;
  }
  log_log("passed\n");
  if (numRnd > 0)
  {
    @uOpType@ v = randSrc[0], r = 0;
    unsigned numBits = required@uTypeTag@Bits(v);
    BitOffset i = offsetStart + numBits;
    @uOpType@ mask = ~(@uOpType@)0;
    if (numBits < @bitSize@)
      mask = ~(mask << numBits);
    log_log("bsSetBit, bsClearBit, bsToggleBit, bsGetBit: ");
    while (v)
    {
      int lowBit = v & 1;
      v >>= 1;
      ensure(had_err, lowBit == (r = bsGetBit(bitStore, --i)));
      if (had_err)
      {
        log_log("Expected %d, got %d, i = %llu\n",
                lowBit, (int)r, (unsigned long long)i);
        freeResourcesAndReturn(had_err);
      }
    }
    i = offsetStart + numBits;
    bsClear(bitStoreCopy, offsetStart, numBits, random()&1);
    v = randSrc[0];
    while (i)
    {
      int lowBit = v & 1;
      v >>= 1;
      if (lowBit)
        bsSetBit(bitStoreCopy, --i);
      else
        bsClearBit(bitStoreCopy, --i);
    }
    v = randSrc[0];
    r = bsGet@uTypeTag@(bitStoreCopy, offsetStart, numBits);
    ensure(had_err, r == v);
    if (had_err)
    {
      log_log("Expected %"@uOpPRI@", got %"@uOpPRI@"\n", v, r);
      freeResourcesAndReturn(had_err);
    }
    for (i = 0; i < numBits; ++i)
      bsToggleBit(bitStoreCopy, offsetStart + i);
    r = bsGet@uTypeTag@(bitStoreCopy, offsetStart, numBits);
    ensure(had_err, r == (v = (~v & mask)));
    if (had_err)
    {
      log_log("Expected %"@uOpPRI@", got %"@uOpPRI@"\n", v, r);
      freeResourcesAndReturn(had_err);
    }
    log_log("passed\n");
  }
  if (numRnd > 1)
  {
    log_log("bsCompare: ");
    {
      @uOpType@ v0 = randSrc[0];
      int bits0 = required@uTypeTag@Bits(v0);
      @uOpType@ r0;
      offset = offsetStart;
      r0 = bsGet@uTypeTag@(bitStore, offset, bits0);
      for (i = 1; i < numRnd; ++i)
      {
        @uOpType@ v1 = randSrc[i];
        int bits1 = required@uTypeTag@Bits(v1);
        @uOpType@ r1 = bsGet@uTypeTag@(bitStore, offset + bits0, bits1);
        int result = -2;   /*< -2 is not a return value of bsCompare, thus
                            *   if it is displayed, there was an earlier
                            *   error. */
        ensure(had_err, r0 == v0 && r1 == v1);
        ensure(had_err, icmp(v0, v1) ==
               (result = bsCompare(bitStore, offset, bits0,
                                   bitStore, offset + bits0, bits1)));
        if (had_err)
        {
          log_log("Expected v0 %s v1, got v0 %s v1,\n for v0=%"
                  @uOpPRI@" and v1=%"@uOpPRI@",\n"
                  "i = %lu, bits0=%u, bits1=%u\n",
                  (v0 > v1?">":(v0 < v1?"<":"==")),
                  (result > 0?">":(result < 0?"<":"==")), v0, v1,
                  (unsigned long)i, bits0, bits1);
          freeResourcesAndReturn(had_err);
        }
        offset += bits0;
        bits0 = bits1;
        v0 = v1;
        r0 = r1;
      }
    }
    log_log("passed\n");
  }
  log_log("bsStoreUniform@uTypeTag@Array/bsGet@uTypeTag@: ");
  {
    unsigned numBits = random()%@bitSize@ + 1;
    @uOpType@ mask = ~(@uOpType@)0;
    if (numBits < @bitSize@)
      mask = ~(mask << numBits);
    offset = offsetStart;
    bsStoreUniform@uTypeTag@Array(bitStore, offset, numBits, numRnd, randSrc);
    for (i = 0; i < numRnd; ++i)
    {
      @uOpType@ v = randSrc[i] & mask;
      @uOpType@ r = bsGet@uTypeTag@(bitStore, offset, numBits);
      ensure(had_err, r == v);
      if (had_err)
      {
        log_log("Expected %"@uOpPRI@", got %"@uOpPRI@",\n"
                "i = %lu, bits=%u\n", v, r, (unsigned long)i, numBits);
        freeResourcesAndReturn(had_err);
      }
      offset += numBits;
    }
    log_log("passed\n");
    log_log("bsStoreUniform@uTypeTag@Array/bsGetUniform@uTypeTag@Array: ");
    bsGetUniform@uTypeTag@Array(bitStore, offset = offsetStart,
                               numBits, numRnd, randCmp);
    for (i = 0; i < numRnd; ++i)
    {
      @uOpType@ v = randSrc[i] & mask;
      @uOpType@ r = randCmp[i];
      ensure(had_err, r == v);
      if (had_err)
      {
        log_log( "Expected %"@uOpPRI@", got %"@uOpPRI@",\n"
                " i = %lu, bits=%u\n",
                v, r, (unsigned long)i, numBits);
        freeResourcesAndReturn(had_err);
      }
    }
    if (numRnd > 1)
    {
      @uOpType@ v = randSrc[0] & mask;
      @uOpType@ r;
      bsGetUniform@uTypeTag@Array(bitStore, offsetStart,
                                 numBits, 1, &r);
      if (r != v)
      {
        log_log("Expected %"@uOpPRI@", got %"@uOpPRI@","
                " one value extraction\n",
                v, r);
        freeResourcesAndReturn(had_err);
      }
    }
    log_log(" passed\n");
  }
  /* int types */
  log_log("bsStore@iTypeTag@/bsGet@iTypeTag@: ");
  for (i = 0; i < numRnd; ++i)
  {
    @iOpType@ v = (@iOpType@)randSrc[i];
    unsigned bits = required@iTypeTag@Bits(v);
    bsStore@iTypeTag@(bitStore, offset, bits, v);
    offset += bits;
  }
  offset = offsetStart;
  for (i = 0; i < numRnd; ++i)
  {
    @iOpType@ v = randSrc[i];
    unsigned bits = required@iTypeTag@Bits(v);
    @iOpType@ r = bsGet@iTypeTag@(bitStore, offset, bits);
    ensure(had_err, r == v);
    if (had_err)
    {
      log_log("Expected %"@dOpPRI@", got %"@dOpPRI@",\n"
                  "i = %lu, bits=%u\n",
                  v, r, (unsigned long)i, bits);
      freeResourcesAndReturn(had_err);
    }
    offset += bits;
  }
  log_log("passed\n");
  log_log("bsStoreUniform@iTypeTag@Array/bsGet@iTypeTag@: ");
  {
    unsigned numBits = random()%@bitSize@ + 1;
    @iOpType@ mask = ~(@iOpType@)0;
    if (numBits < @bitSize@)
      mask = ~(mask << numBits);
    offset = offsetStart;
    bsStoreUniform@iTypeTag@Array(bitStore, offset, numBits, numRnd,
                                (@iOpType@ *)randSrc);
    for (i = 0; i < numRnd; ++i)
    {
      @iOpType@ m = (@iOpType@)1 << (numBits - 1);
      @iOpType@ v = (@iOpType@)((randSrc[i] & mask) ^ m) - m;
      @iOpType@ r = bsGet@iTypeTag@(bitStore, offset, numBits);
      ensure(had_err, r == v);
      if (had_err)
      {
        log_log("Expected %"@dOpPRI@", got %"@dOpPRI@",\n"
                    "i = %lu, numBits=%u\n",
                    v, r, (unsigned long)i, numBits);
        freeResourcesAndReturn(had_err);
      }
      offset += numBits;
    }
    log_log("passed\n");
    log_log("bsStoreUniform@iTypeTag@Array/bsGetUniform@iTypeTag@Array: ");
    bsGetUniform@iTypeTag@Array(bitStore, offset = offsetStart,
                              numBits, numRnd, (@iOpType@ *)randCmp);
    for (i = 0; i < numRnd; ++i)
    {
      @iOpType@ m = (@iOpType@)1 << (numBits - 1);
      @iOpType@ v = (@iOpType@)((randSrc[i] & mask) ^ m) - m;
      @iOpType@ r = randCmp[i];
      ensure(had_err, r == v);
      if (had_err)
      {
        log_log("Expected %"@dOpPRI@", got %"@dOpPRI@", i = %lu\n",
                v, r, (unsigned long)i);
        freeResourcesAndReturn(had_err);
      }
    }
    if (numRnd > 0)
    {
      @iOpType@ m = (@iOpType@)1 << (numBits - 1);
      @iOpType@ v = (@iOpType@)((randSrc[0] & mask) ^ m) - m;
      @iOpType@ r = 0;
      bsGetUniform@iTypeTag@Array(bitStore, offsetStart,
                                numBits, 1, &r);
      ensure(had_err, r == v);
      if (had_err)
      {
        log_log("Expected %"@dOpPRI@", got %"@dOpPRI@
                ", one value extraction\n",
                v, r);
        freeResourcesAndReturn(had_err);
      }
    }
    log_log("passed\n");
  }

  log_log("bsStoreNonUniform@uTypeTag@Array/bsGet@uTypeTag@: ");
  {
    BitOffset bitsTotal = 0;
    numBitsList = ma_malloc(sizeof(unsigned) * numRnd);
    for (i = 0; i < numRnd; ++i)
      bitsTotal += (numBitsList[i] = random()%@bitSize@ + 1);
    offset = offsetStart;
    bsStoreNonUniform@uTypeTag@Array(bitStore, offset, numRnd, bitsTotal,
                                     numBitsList, randSrc);
    for (i = 0; i < numRnd; ++i)
    {
      unsigned numBits = numBitsList[i];
      @uOpType@ mask = (numBits < @bitSize@)?
        ~((~(@uOpType@)0) << numBits):~(@uOpType@)0;
      @uOpType@ v = randSrc[i] & mask;
      @uOpType@ r = bsGet@uTypeTag@(bitStore, offset, numBits);
      ensure(had_err, r == v);
      if (had_err)
      {
        log_log("Expected %"@uOpPRI@", got %"@uOpPRI@",\n"
                "i = %lu, bits=%u\n",
                v, r, (unsigned long)i, numBits);
        freeResourcesAndReturn(had_err);
      }
      offset += numBits;
    }
    log_log("passed\n");
    log_log("bsStoreNonUniform@uTypeTag@Array/"
            "bsGetNonUniform@uTypeTag@Array: ");
    bsGetNonUniform@uTypeTag@Array(bitStore, offset = offsetStart,
                                   numRnd, bitsTotal, numBitsList, randCmp);
    for (i = 0; i < numRnd; ++i)
    {
      unsigned numBits = numBitsList[i];
      @uOpType@ mask = (numBits < @bitSize@)?
        ~((~(@uOpType@)0) << numBits):~(@uOpType@)0;
      @uOpType@ v = randSrc[i] & mask,
        r = randCmp[i];
      ensure(had_err, r == v);
      if (had_err)
      {
        log_log( "Expected %"@uOpPRI@", got %"@uOpPRI@",\n"
                " i = %lu, bits=%u\n",
                v, r, (unsigned long)i, numBits);
        freeResourcesAndReturn(had_err);
      }
    }
    if (numRnd > 1)
    {
      unsigned numBits = numBitsList[0];
      @uOpType@ mask = (numBits < @bitSize@)?
        ~((~(@uOpType@)0) << numBits):~(@uOpType@)0;
      @uOpType@ v = randSrc[0] & mask;
      @uOpType@ r;
      bsGetNonUniform@uTypeTag@Array(bitStore, offsetStart, 1, numBits,
                                     numBitsList, &r);
      if (r != v)
      {
        log_log("Expected %"@uOpPRI@", got %"@uOpPRI@", "
                " one value extraction\n",
                v, r);
        freeResourcesAndReturn(had_err);
      }
    }
    log_log(" passed\n");
    ma_free(numBitsList);
    numBitsList = NULL;
  }
  log_log("bsNonStoreUniform@iTypeTag@Array/bsGet@iTypeTag@: ");
  {
    BitOffset bitsTotal = 0;
    numBitsList = ma_malloc(sizeof(unsigned) * numRnd);
    for (i = 0; i < numRnd; ++i)
      bitsTotal += (numBitsList[i] = random()%@bitSize@ + 1);
    offset = offsetStart;
    bsStoreNonUniform@iTypeTag@Array(bitStore, offset, numRnd, bitsTotal,
                                     numBitsList, (@iOpType@ *)randSrc);
    for (i = 0; i < numRnd; ++i)
    {
      unsigned numBits = numBitsList[i];
      @iOpType@ mask = (numBits < @bitSize@)
        ? ~((~(@iOpType@)0) << numBits) : ~(@iOpType@)0;
      @iOpType@ m = (@iOpType@)1 << (numBits - 1);
      @iOpType@ v = (@iOpType@)((randSrc[i] & mask) ^ m) - m;
      @iOpType@ r = bsGet@iTypeTag@(bitStore, offset, numBits);
      ensure(had_err, r == v);
      if (had_err)
      {
        log_log("Expected %"@dOpPRI@", got %"@dOpPRI@",\n"
                    "i = %lu, numBits=%u\n",
                    v, r, (unsigned long)i, numBits);
        freeResourcesAndReturn(had_err);
      }
      offset += numBits;
    }
    log_log("passed\n");
    log_log("bsStoreNonUniform@iTypeTag@Array/"
            "bsGetNonUniform@iTypeTag@Array: ");
    bsGetNonUniform@iTypeTag@Array(bitStore, offset = offsetStart, numRnd,
                                   bitsTotal, numBitsList,
                                   (@iOpType@ *)randCmp);
    for (i = 0; i < numRnd; ++i)
    {
      unsigned numBits = numBitsList[i];
      @iOpType@ mask = (numBits < @bitSize@)
        ? ~((~(@iOpType@)0) << numBits) : ~(@iOpType@)0;
      @iOpType@ m = (@iOpType@)1 << (numBits - 1);
      @iOpType@ v = (@iOpType@)((randSrc[i] & mask) ^ m) - m;
      @iOpType@ r = randCmp[i];
      ensure(had_err, r == v);
      if (had_err)
      {
        log_log("Expected %"@dOpPRI@", got %"@dOpPRI@", i = %lu\n",
                v, r, (unsigned long)i);
        freeResourcesAndReturn(had_err);
      }
    }
    if (numRnd > 0)
    {
      unsigned numBits = numBitsList[0];
      @iOpType@ mask = (numBits < @bitSize@)
        ? ~((~(@iOpType@)0) << numBits) : ~(@iOpType@)0;
      @iOpType@ m = (@iOpType@)1 << (numBits - 1);
      @iOpType@ v = (@iOpType@)((randSrc[0] & mask) ^ m) - m;
      @iOpType@ r = 0;
      bsGetNonUniform@iTypeTag@Array(bitStore, offsetStart,
                                     1, numBits, numBitsList, &r);
      ensure(had_err, r == v);
      if (had_err)
      {
        log_log("Expected %"@dOpPRI@", got %"@dOpPRI@
                ", one value extraction\n",
                v, r);
        freeResourcesAndReturn(had_err);
      }
    }
    log_log("passed\n");
    ma_free(numBitsList);
    numBitsList = NULL;
  }

  if (numRnd > 0)
  {
    log_log("bsCopy: ");
    {
      /* first decide how many of the values to use and at which to start */
      size_t numValueCopies, copyStart;
      BitOffset numCopyBits = 0, destOffset;
      unsigned numBits = random()%@bitSize@ + 1;
      @uOpType@ mask = ~(@uOpType@)0;
      if (numBits < @bitSize@)
        mask = ~(mask << numBits);
      if (random()&1)
      {
        numValueCopies = random()%(numRnd + 1);
        copyStart = random()%(numRnd - numValueCopies + 1);
      }
      else
      {
        copyStart = random() % numRnd;
        numValueCopies = random()%(numRnd - copyStart) + 1;
      }
      assert(copyStart + numValueCopies <= numRnd);
      offset = offsetStart + (BitOffset)copyStart * numBits;
      bsStoreUniform@uTypeTag@Array(bitStore, offset, numBits, numValueCopies,
                                    randSrc);
      destOffset = random()%(offsetStart + @bitSize@
                             * (BitOffset)(numRnd - numValueCopies) + 1);
      numCopyBits = (BitOffset)numBits * numValueCopies;
      /* the following bsCopy should be equivalent to:
       * bsStoreUniform@uTypeTag@Array(bitStoreCopy, destOffset,
       *                              numBits, numValueCopies, randSrc); */
      bsCopy(bitStore, offset, bitStoreCopy, destOffset, numCopyBits);
      ensure(had_err,
             bsCompare(bitStore, offset, numCopyBits,
                       bitStoreCopy, destOffset, numCopyBits) == 0);
      if (had_err)
      {
        log_log("Expected equality on bitstrings\n"
                    "offset = %llu, destOffset = %llu,"
                    " numCopyBits=%llu\n",
                    (unsigned long long)offset,
                    (unsigned long long)destOffset,
                    (unsigned long long)numCopyBits);
        /* FIXME: implement bitstring output function */
        freeResourcesAndReturn(had_err);
      }
      log_log("passed\n");
    }
  }
  if (numRnd > 0)
  {
    log_log("bsClear: ");
    {
      /* first decide how many of the values to use and at which to start */
      size_t numResetValues, resetStart;
      BitOffset numResetBits = 0;
      unsigned numBits = random()%@bitSize@ + 1;
      int bitVal = random()&1;
      @iOpType@ cmpVal = bitVal?-1:0;
      @uOpType@ mask = ~(@uOpType@)0;
      if (numBits < @bitSize@)
        mask = ~(mask << numBits);
      if (random()&1)
      {
        numResetValues = random()%(numRnd + 1);
        resetStart = random()%(numRnd - numResetValues + 1);
      }
      else
      {
        resetStart = random() % numRnd;
        numResetValues = random()%(numRnd - resetStart) + 1;
      }
      assert(resetStart + numResetValues <= numRnd);
      offset = offsetStart;
      bsStoreUniform@iTypeTag@Array(bitStore, offset, numBits, numRnd,
                                    (@iOpType@ *)randSrc);
      numResetBits = (BitOffset)numBits * numResetValues;
      bsClear(bitStore, offset + (BitOffset)resetStart * numBits,
              numResetBits, bitVal);
      {
        @iOpType@ m = (@iOpType@)1 << (numBits - 1);
        for (i = 0; i < resetStart; ++i)
        {
          @iOpType@ v = (@iOpType@)((randSrc[i] & mask) ^ m) - m;
          @iOpType@ r = bsGet@iTypeTag@(bitStore, offset, numBits);
          ensure(had_err, r == v);
          if (had_err)
          {
            log_log( "Expected %"@dOpPRI@", got %"@dOpPRI@",\n"
                     "i = %lu, numBits=%u\n",
                     v, r, (unsigned long)i, numBits);
            freeResourcesAndReturn(had_err);
          }
          offset += numBits;
        }
        for (; i < resetStart + numResetValues; ++i)
        {
          @iOpType@ r = bsGet@iTypeTag@(bitStore, offset, numBits);
          ensure(had_err, r == cmpVal);
          if (had_err)
          {
            log_log("Expected %"@dOpPRI@", got %"@dOpPRI@",\n"
                    "i = %lu, numBits=%u\n",
                    cmpVal, r, (unsigned long)i, numBits);
            freeResourcesAndReturn(had_err);
          }
          offset += numBits;
        }
        for (; i < numRnd; ++i)
        {
          @iOpType@ v = (@iOpType@)((randSrc[i] & mask) ^ m) - m;
          @iOpType@ r = bsGet@iTypeTag@(bitStore, offset, numBits);
          ensure(had_err, r == v);
          if (had_err)
          {
            log_log("Expected %"@dOpPRI@", got %"@dOpPRI@",\n"
                    "i = %lu, numBits=%u\n",
                    v, r, (unsigned long)i, numBits);
            freeResourcesAndReturn(had_err);
          }
          offset += numBits;
        }
      }
    }
    log_log("passed\n");
  }
  if (numRnd > 0)
  {
    log_log("bs1BitsCount: ");
    {
      /* first decide how many of the values to use and at which to start */
      size_t numCountValues, countStart;
      BitOffset numCountBits = 0, bitCountRef = 0, bitCountCmp;
      unsigned numBits = random()%@bitSize@ + 1;
      @uOpType@ mask = ~(@uOpType@)0;
      if (numBits < @bitSize@)
        mask = ~(mask << numBits);
      if (random()&1)
      {
        numCountValues = random()%(numRnd + 1);
        countStart = random()%(numRnd - numCountValues + 1);
      }
      else
      {
        countStart = random() % numRnd;
        numCountValues = random()%(numRnd - countStart) + 1;
      }
      assert(countStart + numCountValues <= numRnd);
      offset = offsetStart;
      bsStoreUniform@uTypeTag@Array(bitStore, offset, numBits, numRnd, randSrc);
      numCountBits = (BitOffset)numBits * numCountValues;
      bitCountCmp = bs1BitsCount(bitStore,
                                 offset + (BitOffset)countStart * numBits,
                                 numCountBits);
      for (i = countStart; i < countStart + numCountValues; ++i)
      {
        @uOpType@ v = (@uOpType@)randSrc[i] & mask;
        bitCountRef += genBitCount(v);
      }
      ensure(had_err, bitCountRef == bitCountCmp);
      if (had_err)
      {
        log_log("Expected %llu, got %llu,\n"
                "numBits=%u\n", (unsigned long long)bitCountRef,
                (unsigned long long)bitCountCmp, numBits);
        freeResourcesAndReturn(had_err);
      }
      offset += numBits;
    }
    log_log("passed\n");
  }
  freeResourcesAndReturn(had_err);
}
